option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application

container_commands:
  01_setup_venv:
    command: |
      rm -rf /var/app/staging/venv
      rm -rf /var/app/venv
      python3 -m venv /var/app/venv
      source /var/app/venv/bin/activate
      pip install --upgrade pip
      pip install -r requirements.txt