option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings
    PYTHONPATH: /var/app/current
  aws:autoscaling:launchconfiguration:
    SecurityGroups: your-security-group-here

container_commands:
  01_remove_old_venv:
    command: |
      rm -rf /var/app/staging/venv
      rm -rf /var/app/venv
    ignoreErrors: true
  02_create_venv:
    command: "python3 -m venv /var/app/staging/venv"
  03_activate_and_install:
    command: |
      source /var/app/staging/venv/bin/activate
      pip install --upgrade pip
      pip install -r requirements.txt
  04_django_migrate:
    command: |
      source /var/app/staging/venv/bin/activate
      python manage.py migrate --noinput
    leader_only: true
  05_collectstatic:
    command: |
      source /var/app/staging/venv/bin/activate
      python manage.py collectstatic --noinput