option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/var/app/current"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "mysite.wsgi:application"

  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp3
    DisableIMDSv1: true

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"

commands:
  01_remove_old_venv:
    command: "rm -rf /var/app/venv"
    ignoreErrors: true

container_commands:
  01_create_venv:
    command: |
      python3 -m venv /var/app/venv
  02_activate_venv:
    command: |
      source /var/app/venv/bin/activate
  03_install_dependencies:
    command: |
      /var/app/venv/bin/pip install -r requirements.txt