option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings

container_commands:
  01_python_venv:
    command: |
      python -m venv /var/app/venv
      source /var/app/venv/bin/activate
      pip install -r requirements.txt